@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@700&family=Montserrat:wght@400;600&display=swap');

*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.clearfix::after
{
  content: "";
  clear: both;
  display: table;
}
a
{
  text-decoration: none;
}
body
{
  font-family: 'Montserrat', sans-serif;
  background-color: lightgoldenrodyellow;
  width: 70%;
  margin: 2vw auto;
}
header
{
  font-family: 'Fredoka', sans-serif;
  color: #e42b6f;
  font-size: 1vw;
}
.sottotitolo
{
  margin: 2vw 0;
}
header, .sottotitolo
{
  text-align: center;
}
.carta
{
  width: calc(100% / 3 - 2vw);
  background-color: black;
  color: white;
  float: left;
  margin: 1vw;
}
section img
{
  width: 6vw;
  float: left;
}
.sezione-descrizione
{
  padding: 0 0 0 6.5vw;
}
.sezione-descrizione p
{
  margin: 0.6vw 0.4vw;
  font-size: 1vw;
}
.nome
{
  font-family: 'Fredoka', sans-serif;
}
.email
{
  color: #5fb1da;
}

















/* ______Fine________________________________________________________________ */
